<div class="container">

  <div class="gauche">
    <h1> Histoire du Steel Drum </h1> <br>
  <p>
    Un pan est fait à partir de fûts en métal de 216 litres utilisés par l'industrie pétrolière pour stocker et transporter de l'essence ou de l'huile, ou encore de la compote, des extraits de parfums.... Ils sont sectionnés et la face inférieure de ces bidons est emboutie puis martelée pour y réaliser un ensemble de facettes se comportant chacune comme une cloche. Les différentes facettes sont accordées sur une gamme tempérée.
<br><br>
Il existe de nombreux types de pans, regroupés en sections qui vont des graves aux aigus en passant par les médiums (traditionnel, pan around the neck un seul bidon par musicien, ou conventionnel, chaque section chromatique donc plusieurs bidons par musiciens). Dans les orchestres conventionnels, les pans aigus, appelés "frontline", comportent une trentaine de notes sur un ou deux bidons, les médiums comportent vingt à trente notes sur deux à quatre bidons, les basses comportent une vingtaine de notes sur quatre à douze bidons. Les pans médiums et basses sont appelés "background".
<br><br>
Les steeldrums sont construits en utilisant de la tôle d'une épaisseur comprise entre 0,8 mm et 1,5 mm. Traditionnellement, des steelpans ont été construits avec des tonneaux à huile, des boites de biscuits ou des poubelles usagées. De nos jours, certains fabricants n'utilisent plus de bidons mais du métal sous forme de tôle plate qu'ils dessinent en cuvette. Dans une première étape, le fond du bidon est enfoncé en cuvette. Ce processus est habituellement fait avec plusieurs marteaux, manuellement ou sous la pression de l'air. Le modèle de note est alors marqué sur la surface, et les notes de différentes tailles sont formées et moulées dans la surface. Après le gâchage, les notes doivent être ramollies et accordées (accord initial). Le ramollissement fait partie de ce premier processus d'accord.
<br><br>


Accord d'un steelpan - Herman "Brown" Guppy.
Plus la taille de la note est grande, plus la tonalité est grave. La "jupe" (la pièce cylindrique du bidon) voit varier sa taille selon la tessiture : plus les notes sont graves, plus on a besoin d'une grande "jupe" pour faire résonner les fréquences graves. Ainsi le tenor pan, parfois appelé "soprano", très aigu avec des petites notes, est constitué d'un seul fût avec une petite jupe (entre 20 et 30cm), alors que le joueur de basse est entouré de quatre, six, neuf, voire douze bidons entiers (avec chacun 3 notes)! Les pans peuvent être chromés ou peints (ou passées au bichromate de potassium).
<br><br>
Plus on joue, plus les pans se désaccordent, les steelbands se chargent de faire accorder régulièrement leurs instruments (en général une fois ou deux par an). Un tuner (accordeur) doit pouvoir parvenir à faire sonner de manière homogène toutes les notes d'un même instrument. Tout le travail d'accordage est effectué en utilisant des marteaux de différentes tailles.

   
      </div>

       </p>

        <div class="right">
          <h1> Paniste </h1>
          <p>
            Le musicien joue du pan en frappant ces facettes avec des petites mailloches ou "sticks".

Plusieurs pans sont généralement utilisés simultanément dans un orchestre appelé steelband (composé en outre d'une importante section rythmique : un batteur et d'autres percussionnistes), et l'accord des instruments permet d'obtenir une mélodie et un arrangement de type symphonique. En effet, tout comme le vibraphone ou le xylophone, le pan peut être utilisé pour jouer toutes les parties d'une œuvre musicale ou d'un morceau de musique.

Un musicien de pan est appelé un paniste, et le lieu de répétition du steelband s'appelle un panyard. Un fabricant s'appelle un pan maker et un accordeur s'appelle un pan tuner.
          </p>
        </div>
        <div class="right">
          <%= image_tag "story.jpg" %>
        </div>
</div>