
<div class="container">
<h1>Présentation de l'association Steel Vibration</h1>
L'Association "Steel Vibration" a pour but la promotion du "Steel Pan" en France, en proposant des Initiations et Ateliers tous public, des Concerts, des Conférences, de la vente de Cds et d'Instruments.
<br><br>
Venez adhérer !
<br><br>
"Steel Vibration" c'est aussi un Orchestre "Steelband" regroupant des musiciens amateur, tous mordus du bidon !
<br><br><br>

<h1> Le Steel Drum </h1>
Un steel-drum ou steeldrum, c'est-à-dire « tambour d'acier » en anglais, plus couramment appelé pan ("casserole") ou steelpan — est un instrument de percussion idiophone mélodique.
<br><br>
Il est originaire de Trinité-et-Tobago (Caraïbes) et répandu dans des orchestres steelbands, typiquement composés de plusieurs de ces instruments différents. 
<br><br>
Les pans constituent donc une famille d'instruments.
<br><br><br>


<h1> Les Concerts Steel Vibration </h1>
L'Association organise et vend des concerts "Steel Band" :
<br><br>
Des prestations en défilé avec de 3 à 7 musiciens, appelés "Steel Band traditionnel", les "Panistes" portent leurs instruments autour du cou et jouent du Calypso, comme traditionnellement les premiers Steelbands à Trinidad y Tobago.
<br><br>
Des concerts fixes, en acoustique ou sonorisés, avec de 8 à 20 musiciens, appelés "Steel Band conventionnel".
<br><br>
Le Steel Band dans toute sa splendeur, toutes les sections sont chromatiques, des "Bass" aux "Ténors" en passant par les "Cellos", les "Guitars", ou autre "Double second", et offrent la possibilité aux musiciens d'interpréter toutes les musiques, du Jazz au Classique, et bien sur du Calypso !

<br><br>
Vous pouvez acheter un des  CD à tout moment via l'onglet Albums.
<br><br><br>



<h1> Atelier, Stage, Cours en orchestre </h1>
L'Association propose des Ateliers à l'année, 2 ou 3 heures par semaine. L'apprentissage s'effectue en groupe de 8 à 15 musiciens à partir de 12 ans.
<br><br>
Nous proposons aussi des stages ponctuels, par exemple pendant les vacances scolaires, à raison de 3 à 6 heures par jour sur une semaine. 
<br><br>
L'apprentissage s'effectue en groupe de 12 à 25 musiciens
<br><br><br>



<h1> Fabrication et Accordage </h1>
"Steel Vibration" propose aussi la création de "Steel Pan" neuf sur commande, chromé ou peint, ainsi que l'accordage de vos "Pans" personnel. 
<br><br>
L'Association travail en partenariat avec un fabricant et un accordeur de la région parisienne.
<br><br>
Ces "Pan maker" font des instruments pour le "Steel Band" et les accordent régulièrement.
<br><br><br>


<h1> Enregistrement studio mobile </h1>
L'Association travail avec un ingénieur du son très expérimenté dans le domaine de l'enregistrement d'un "Steel Band" et qui propose ses services à tous les groupes qui sont intéressés, quelque soit leur style de musique. Il travaille sur "Roland VS 2480" et peut se déplacer n'importe où ! c'est le "Loco Studio".
<br><br><br>


<h1> Conference / Master Class </h1>
Mathieu Borgne et Julie Goldstein anime des conférences sur cet instrument et sur la culture de Trinidad et Tobago:
<ul>
	<li>découverte de l'instrument et du contexte historique qui l'a vu naître</li>

  <li>projection de film sur Trinidad et Tobago</li>

  <li>démonstration des différents "Steel Pan" et leurs possibilités d'interpréter différentes musiques</li>

  <li>le Carnaval, le Calypso, la Soca etc...</li>
</ul>


<br><br>
</div>