<!-- rails g controller media photos -->
<!-- creer la vue et le controller de media, contenant un premier media qui sera photos -->
<!-- cree egalement les bonnes routes -->

<section id="photos">
  <div class="conteneur show">
    <h2>Photos</h2>
    
    <% [ 
      [
        {photo: @photos.first.image_url, description: @photos.first.name },
        {photo: @photos.second.image_url, description: @photos.second.name },
        {photo: @photos.third.image_url, description: @photos.third.name }
      ],
      [
        {photo: 'test.jpeg', description: "Chanteix 2011<p>19 novembre 2011</p><p>22 Photos</p>"},
        {photo: 'test.jpeg', description: 'Chanteix 2011<p>19 novembre 2011</p><p>22 Photos</p>'},
        {photo: 'test.jpeg', description: 'Chanteix 2011<p>19 novembre 2011</p><p>22 Photos</p>'}
      ]
    ].each do |row| %>
      <div class='row galerie-container'>
        <% row.each do |picture| %>
          <div class="galerie">
            <a href="<%= image_path  'test.jpeg' %>" class="fancyframe">
              <%= image_tag picture[:photo] %>        
              <% if(picture[:description]) != "Chanteix 2011<p>19 novembre 2011</p><p>22 Photos</p>" %>
              <div class="galerie-titre"> <%= picture[:description]%></div><!-- #galerie-titre -->
              <% else %>
              <div class="galerie-titre"> Chanteix 2011<p>19 novembre 2011</p><p>22 Photos</p> </div><!-- #galerie-titre -->
              <%end%>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</section>