
<h1>Nos videos Steel Pan :</h1>

<div class="row">
  <div class="col-md-8" style="text-align:center">
    <div>
      <iframe  id='video-frame' width="640" height="360" src="//www.youtube.com/embed/06eyqLosXjU" frameborder="0" allowfullscreen></iframe>
    </div>  <!-- 560  315-->
  </div>
  <div class="col-md-4">

    <div>
  <ul class='video-picker'>
    <li>
      <a onclick='$("#video-frame").attr({src: "//www.youtube.com/embed/06eyqLosXjU"})'>
        <img src="//i1.ytimg.com/vi/06eyqLosXjU/default.jpg" width="128">
        The Sound of the Caribbean
      </a>
    </li>
    
    <li>
      <a onclick='$("#video-frame").attr({src: "//www.youtube.com/embed/H-bTMbePj0A"})'>
        <img src="//i1.ytimg.com/vi/H-bTMbePj0A/default.jpg" width="128">
        Under The Sea
      </a>
    </li>
    
    <li>
      <a onclick='$("#video-frame").attr({src: "//www.youtube.com/embed/lqeAf-DqE3I"})'>
        <img src="//i1.ytimg.com/vi/lqeAf-DqE3I/default.jpg" width="128">
         Steel Drum and Ukulele
      </a> 
    </li>
  </ul>
</div>
    
  </div>
</div>





