
<h1>Videos picker:</h1>

<div class="row">
  <div class="col-md-8" style="text-align:center">
    <div>
      <iframe  id='video-frame' width="640" height="360" src="//www.youtube.com/embed/KJnJrQNifZ4" frameborder="0" allowfullscreen></iframe>
    </div>  <!-- 560  315-->
  </div>
  <div class="col-md-4">

    <div>
  <ul class='video-picker'>
    <li>
      <a onclick='$("#video-frame").attr({src: "//www.youtube.com/embed/KJnJrQNifZ4"})'>
        <img src="//i1.ytimg.com/vi/KJnJrQNifZ4/default.jpg" width="128">
        titre 1
      </a>
    </li>
    
    <li>
      <a onclick='$("#video-frame").attr({src: "//www.youtube.com/embed/E0GoBBORrns"})'>
        <img src="//i1.ytimg.com/vi/E0GoBBORrns/default.jpg" width="128">
        titre 2
      </a> 
    </li>
  </ul>
</div>
    
  </div>
</div>





