// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.galerie-container {
  text-align: center;

  .galerie {
    text-align: center;
    display: inline-block;
    margin: 10px;
    
    img {
      width: 250px;
      height: 250px;
      vertical-align: middle;
      border-radius: 100%;
      border: 13px solid rgba(219, 214, 214, 0.75); //190, 184, 184, 0.75);   //(255, 255, 255, 0.75);
    }
    
    img:hover {
      border: 13px solid rgba(253, 250, 250, 0.94); //219, 36, 36, 0.75);
    }
    
    a:hover {
            text-decoration: none;
    }
  }
  
  .galerie-titre {
    background: white;
    border-radius: 2px;
    border: 1px solid #abeeee;
  }
}
